NodeRed/flows.json
[{"id":"1b26de3a.d5718a","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"d3e7df93.9138f","type":"tab","label":"MQTT-Broker","disabled":false,"info":""},{"id":"dbf0ef0e.ece218","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"a5e48f84.f0c8d8","type":"tab","label":"TCP","disabled":false,"info":""},{"id":"fc1cf06f.65866","type":"tab","label":"UDP","disabled":false,"info":""},{"id":"b9a43803.409a7","type":"tab","label":"HTTP","disabled":false,"info":""},{"id":"1baeaa7a.3591ee","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b935b06.1efb84","type":"websocket-listener","path":"192.168.1.73:54000","wholemsg":"false"},{"id":"99ab8dc5.f435c","type":"ui_tab","name":"Clock","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"48b44dfd.ba72ec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"453793d9.c3e374","type":"ui_tab","name":"HTTP","icon":"dashboard","disabled":false,"hidden":false},{"id":"cc3a4140.404d98","type":"ui_group","name":"Clock","tab":"453793d9.c3e374","order":1,"disp":true,"width":"6","collapse":false},{"id":"8977e992.e888f8","type":"ui_group","name":"Device","tab":"453793d9.c3e374","order":2,"disp":true,"width":"6","collapse":false},{"id":"64727642.df37","type":"MySQLdatabase","name":"","host":"database-1.ckhrbzic5cvs.eu-central-1.rds.amazonaws.com","port":"3306","db":"innodb","tz":"","charset":"UTF8MB4"},{"id":"24b7dac2.91b03e","type":"mqtt in","z":"1b26de3a.d5718a","name":"","topic":"hello","qos":"2","datatype":"auto","broker":"1baeaa7a.3591ee","x":130,"y":100,"wires":[["8e4f4311.1e871"]]},{"id":"78a789ff.f18d4","type":"aedes broker","z":"d3e7df93.9138f","name":"","mqtt_port":1883,"mqtt_ws_port":"54000","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":320,"y":100,"wires":[[]]},{"id":"7c51ea67.7fc6a4","type":"websocket in","z":"dbf0ef0e.ece218","name":"c++client","server":"6b935b06.1efb84","client":"","x":460,"y":320,"wires":[["9a416311.8e3d4"]]},{"id":"6727e86b.c9a9","type":"udp in","z":"fc1cf06f.65866","name":"","iface":"","port":"3030","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":220,"wires":[["c6c90e60.5d92f8"]]},{"id":"9a416311.8e3d4","type":"debug","z":"dbf0ef0e.ece218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":180,"wires":[]},{"id":"8e4f4311.1e871","type":"debug","z":"1b26de3a.d5718a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"c6c90e60.5d92f8","type":"debug","z":"fc1cf06f.65866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":220,"wires":[]},{"id":"599740b7.efde9","type":"http response","z":"b9a43803.409a7","name":"","statusCode":"200","headers":{},"x":400,"y":460,"wires":[]},{"id":"1618a829.76f638","type":"json","z":"b9a43803.409a7","name":"","property":"payload","action":"obj","pretty":true,"x":390,"y":580,"wires":[["d0089cc7.d25ac"]]},{"id":"c7410fa2.1c2fa","type":"debug","z":"b9a43803.409a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"d0089cc7.d25ac","type":"function","z":"b9a43803.409a7","name":"JSON or URL Encoded","func":"var msg0 = { payload: msg.payload.device_id };\nvar msg1 = { payload: msg.payload.ip_adress };\nvar msg2 = { payload: msg.payload.protocol };\nvar msg3 = { payload: msg.payload.device_type };\nvar msg4 = { payload: msg.payload.device_category };\nvar msg5 = { payload: msg.payload.value };\nvar msg6 = { payload: msg.payload.unit };\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["75a22f74.f1aba"],["1d0dec95.d039fb"],["2ac4a987.1cfa4e"],["d52847b0.d3e9a"],["f36c7c1.3494c8"],["d421e541.c3bd38"],["4fec4f28.4508a8"],["5b952557.59e244"]]},{"id":"5d9ab0d2.66b92","type":"http in","z":"b9a43803.409a7","name":"","url":"update-device","method":"post","upload":false,"swaggerDoc":"","x":180,"y":511,"wires":[["599740b7.efde9","c7410fa2.1c2fa","1618a829.76f638"]]},{"id":"75a22f74.f1aba","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":540,"wires":[]},{"id":"1d0dec95.d039fb","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":4,"width":"0","height":"0","name":"","label":"IPadress","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":580,"wires":[]},{"id":"2ac4a987.1cfa4e","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":2,"width":0,"height":0,"name":"","label":"Protocol","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":620,"wires":[]},{"id":"d52847b0.d3e9a","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":3,"width":0,"height":0,"name":"","label":"Device Type","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":660,"wires":[]},{"id":"f36c7c1.3494c8","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":4,"width":0,"height":0,"name":"","label":"Device Category","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":720,"wires":[]},{"id":"d421e541.c3bd38","type":"ui_chart","z":"b9a43803.409a7","name":"","group":"8977e992.e888f8","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":840,"y":780,"wires":[[]]},{"id":"4fec4f28.4508a8","type":"ui_text","z":"b9a43803.409a7","group":"8977e992.e888f8","order":6,"width":0,"height":0,"name":"","label":"Unit","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":840,"wires":[]},{"id":"8250944a.2f0a5","type":"ui_clock","z":"b9a43803.409a7","name":"Clock","group":"cc3a4140.404d98","order":7,"width":0,"height":0,"x":410,"y":340,"wires":[]},{"id":"b2752846.b58bc8","type":"inject","z":"b9a43803.409a7","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["8250944a.2f0a5"]]},{"id":"5b952557.59e244","type":"function","z":"b9a43803.409a7","name":"SqlQuery","func":"\nvar insert = 'INSERT INTO innodb.tempvalues (DeviceId, IpAdress, Protocol, DeviceType, DeviceCategory, Value, Unit) VALUES( '; //Creates query with the recorded temp value\nquery = insert + '\"' +  msg.payload.device_id + '\", \"' + msg.payload.ip_adress +  '\", \"' + msg.payload.protocol +  '\", \"' + msg.payload.device_type +  '\", \"' + msg.payload.device_category +  '\", ' + msg.payload.value +  ', \"' + msg.payload.unit + '\");';\nmsg.topic = query; //Put query into the msg.topic\nreturn msg; //Return the query\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":900,"wires":[["e4c5f818.bd85c8"]]},{"id":"e4c5f818.bd85c8","type":"mysql","z":"b9a43803.409a7","mydb":"64727642.df37","name":"","x":1450,"y":720,"wires":[[]]},{"id":"edb9da98.3bf6c","type":"tcp out","z":"a5e48f84.f0c8d8","host":"192.168.1.71","port":"3306","beserver":"client","base64":false,"end":false,"name":"","x":690,"y":340,"wires":[]}]